@model TareaKiut.Models.User
<br />
<br />
<div class="offset-lg-4 offset-md-6 col-sm-6 col-md-6 col-lg-4">
    
            <h1 class="text-primary">Programacion III</h1>
    <hr />
            <div class="form-group">
                Seas bienvenido a esta prueba.
            </div>
            <h6> Sean bienvenidos a mi programa para registros de los estudiantes, esto es para la tarea de programacion III, y consta para saber que los estudiantes gustan hacer
            hacer en su tiempo libre, espero que les guste.</h6>
            <hr />
            <a href="/User/Create">Registrate Ahora</a>
        </div>
 